.navbar {
	background-color: #42b3e5;
	color: white;
	height: 60px;
}
.nav-link {
	text-decoration: none;
}
.nav-items {
	text-decoration: none;
}
.nav-items:hover {
	text-decoration: underline;
}

.login-link {
	background: white;
	padding: 5px 10px;
	text-decoration: none;
	transition: 0.3s;
}
.login-link:hover {
	box-shadow: 0 2px 2px #000000;
}
.logout-btn {
	border: none;
	padding: 6px 15px;
	border-radius: 15px;
}
.logout-btn:hover {
	box-shadow: 2px 2px 5px #000000;
}
