.best-card {
	transition: 0.5s;
	cursor: pointer;
	color: #021e1f;
}

.best-card:hover {
	background: #041a22;
	color: #fff;
}
.best-card > img {
	margin: 10px auto;
	width: 50%;
	height: 100px;
	object-fit: cover;
}
