.best-card {
	background: #42b3e5;
	transition: 0.5s;
	cursor: pointer;
}
.best-card:hover {
	background: #021b26;
}
.best-card > img {
	margin: 10px auto;
	width: 50%;
	height: 100px;
	object-fit: cover;
}
