.best-card {
	transition: 0.5s;
	cursor: pointer;
	color: #0788c0;
	font-weight: bold;
}

.best-card:hover {
	background: #42b3e5;
	color: #fff;
}
.best-card > img {
	margin: 10px auto;
	width: 50%;
	height: 100px;
	object-fit: cover;
}
