.service-title {
	font-weight: 600;
	font-size: 23px;
	color: #42b3e5;
}

.btn-details {
	border: none;
	padding: 7px 17px;
	background: #42b3e5;
	color: #fff;
	font-size: 20px;
}
.btn-details:hover {
	background: #1e6c8d;
}

.service-card {
	box-shadow: 2px 2px 8px 1px #0b8f6744;
	transition: 0.4s;
}
.service-card:hover {
	box-shadow: 2px 2px 8px 1px #0b8f6773;
}
