/* import google font */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@200;400&display=swap");
/* 
font-family: 'PT Sans', sans-serif;
*/

* {
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}

.nav-link {
	text-decoration: none;
}
.nav-items {
	text-decoration: none;
}
.nav-items:hover {
	text-decoration: underline;
}
