/* import google font */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@200;400&display=swap");
/* 
font-family: 'PT Sans', sans-serif;
*/

* {
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}

.banner-img {
	max-height: 90vh;
	object-fit: cover;
}
